<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/add}" th:object="${newUser}">
    <label for="usernameAdd">Enter Username: </label>
    <br/>
    <input id="usernameAdd" th:field="*{username}" type="text"/>
    <br/>
    <label for="passwordAdd">Enter Password: </label>
    <br/>
    <input id="passwordAdd" th:field="*{password}" type="text"/>
    <br/>
    <label for="emailAdd">Enter E-mail: </label>
    <br/>
    <input id="emailAdd" th:field="*{email}" type="email"/>
    <br/>
    <label for="nameAdd">Enter Name: </label>
    <br/>
    <input id="nameAdd" th:field="*{name}" type="text"/>
    <br/>
    <label for="ageAdd">Enter Age: </label>
    <br/>
    <input id="ageAdd" th:field="*{age}" type="number"/>
    <br/>
    <label for="enabledAdd">Is active: </label>
    <br/>
    <input id="enabledAdd" th:field="*{enabled}" type="checkbox"/>
    <br/>
    <label for="rolesAdd">Add Roles: </label>
    <br/>
        <input th:name="rolesAdd" id="rolesAdd" type="checkbox"
               th:each="role : ${roles}"
               th:text="${role.name}"
               th:value="${role.name}"/>
    <br/>
    <br/>
    <input type="submit" value="Add User!"/>
</form>
<br/>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Password</th>
        <th>E-mail</th>
        <th>Name</th>
        <th>Age</th>
        <th>Enabled</th>
        <th>Roles</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td th:text="${user.getEmail()}">E-mail</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.isEnabled()}">IsEnabled</td>
        <td>
            <th:block th:each="role : ${user.getRoles()}">
                <li th:utext="${role.getName()}">Roles</li>
            </th:block>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/update/{id}(id=${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
</table>
<br />
<br />
<form method="post" action="/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>